.sun-image{
    width: 150px;
}

.current-weather-report-time-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 2px 2px 4px black;
    padding: 20px  20px 0 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.current-weather-report-time-container-light-mode{
    color: black;
}

.sun-rise-img-time-part-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-img-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-of-temperature{
    padding: 10px 20px 10px 20px;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    background-color: transparent;
    color: #FFFFFF;
}

.sun-set-img-time-part-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-icons{
    width: 30px;
}

.sun-rise-image{
    width: 30px;
    margin-right: 10px;
}

.sun-set-image{
    width: 30px;
    margin-right: 10px;
}

.humidity-windspeed-parts-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pressure-uv-parts-container{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.humidity-part-container{
    width: 100px;
    text-align: center;
    padding: 20px;
}